# Variables

### Lesson 1

In [8]:
print("Hello, World!", "Good Day!", "How are you")

Hello, World! Good Day! How are you

### Lesson 2

In [3]:
p = 100      # 100
p = p + 500       # 100 + 500 = 600
p = p - 300      # 600 - 300 = 300
print(p)

300

### Lesson 3

In [10]:
# First method with third variable
a = 10
b = 20
t = a
a = b
b = t
print(a)
print(b)

20
10

### Lesson 4

In [3]:
# Second method without third variable
a = 10
b = 20
a = a + b
b = a - b
a = a - b
print(a)
print(b)

20
10

### Lesson 5

In [4]:
a = 10
b = 20
a, b = b , a
print(a)
print(b)

20
10

## Data Types

In [14]:
# Assigning a value to a variable
x = 10

# Printing the value of a variable
print(type(x))

# Different data types
a = 5             # integer
b = 3.14          # float
c = "Hello"       # string
d = True          # boolean

<class 'int'>

In [5]:
type(a)

int

## Assessing Data Type

In [10]:
a = 10
b = "Hello"
c = True
print(a.bit_length())

4

In [6]:
# Fundamental Data Types
# Integer
num1 = 10

# Float
num2 = 3.14

# String
name = "John Doe"

# Boolean
is_valid = True

# Collection data types
# List
fruits = ["apple", "banana","grapes", "papita"]
fruits.append("orange")

# Tuple
coordinates = (45, 60)
# coordinates.append(100) $ Not allowed

# Set
numbers = {1, 2, 3, 4, 4}
# last element is rejected because all sets can store unique values

# Dictionary
record = {"name": "Udit", "age": 25, "city": "New York"}

# Printing the data types
print("Integer:", num1)
print("Float:", num2)
print("String:", name)
print("Boolean:", is_valid)
print("List:", fruits)
print("Tuple:", coordinates)
print("Set:", numbers)
print("Dictionary:", record)

print(type(record))

Integer: 10
Float: 3.14
String: John Doe
Boolean: True
List: ['apple', 'banana', 'grapes', 'papita', 'orange']
Tuple: (45, 60)
Set: {1, 2, 3, 4}
Dictionary: {'name': 'Udit', 'age': 25, 'city': 'New York'}
<class 'dict'>

## Numeric Operators

In [4]:
# Assignment
a = 5
b = 3

# Addition
c = a + b
print(c)

# Subtraction
d = a - b
print(d)

# Multiplication
e = a * b
print(e)

# Division
f = a / b
print(f)

# Modulo (remainder)
g = a % b
print(g)

# Exponentiation
h = a ** b
print(h)

8
2
15
1.6666666666666667
2
125

## Inbuilt Data Structures

In [5]:
Integer: 10
Float: 3.14
String: "John Doe"
Boolean: True
List: ['apple', 'banana', 'orange']
Tuple: (10, 20)
Set: {1, 2, 3, 4, 5}
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

## Relational Operators

In [ ]:
# > is greater than
# < is less than
# >= is greater than or equal
# <= is less than or equal
# ==  equal
# != not equal

In [ ]:
# and 
# or
# not

In [5]:
a = 10
b = 20
c = 15
print(b > c  or a > c)

True

In [6]:
x = 2

if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

## Independent If constructs

In [7]:
# Find the largest - version 1

a = 3
b = 3

# independent if conditions
if b > a :
    print ("b is greater")
    
if a > b:
    print ("a is greater")
    
if a == b:
    print ("none is greater")

none is greater

## If elif construct

In [9]:
# Find the largest - version 2

a = int(input("Enter a : "))
b = int(input("Enter b : "))

# If elif else constuct (single construct)
if b > a:
    print ("b is greater")
elif a > b:
    print ("a is greater")
else:
    print ("none is greater")

Enter a : 7
Enter b : 4
a is greater

In [12]:
x = int(input("Enter x : "))
y = int(input("Enter y : "))
z = int(input("Enter z : "))

if x > y and x > z:
    print("x is greatest")
elif y > x and y > z:
    print("y is greatest")  
elif z > y and z > x:
    print("z is greatest")
else:
    print("None is greatest ..")

Enter x : 10
Enter y : 10
Enter z : 4
None is greatest ..

In [11]:
# Find the largest four variables - version 2

a = 53
b = 22
c = 22
d = 9

# If elif else constuct (single construct)
if a > b and a > c and a > d:
    print ("a is greater")
elif b > a and b > c and b > d:
     print ("b is greater")
elif c > a and c > b and c > d:
     print ("c is greater")
elif d > a and d > b and d > c:
     print ("d is greater")
else:
     print ("none is greater")

a is greater

In [10]:
km = int(input("Enter kilometers : "))

if km > 20 :
    b = 30 + 18*5 + (km - 20) * 6
elif km > 2 :
    b = 30 + (km - 2) * 5
else:
    b = 30

print("Bill :", b)

Enter kilometers : 25
Bill : 150

In [6]:
# Tax calculation problem
ai = int(input("Enter annual income : "))
if ai >= 1500000:
    tx = 200000*.05 + 800000*.1 + (ai - 1500000) * .2
elif ai >= 700000:
    tx = 200000*.05 + (ai - 700000)*.1
elif ai >= 500000:
    tx = (ai-500000)*.05
else:
    tx = 0
print("Tax = ", tx)

Enter annual income : 2000000
Tax =  190000.0

In [3]:
##### Weekly hrs : input
# upto 40 hrs remuneration offered is 10000
# for next 20 hrs @2000/hr
# for next onwards @3000/hr

wh = int(input("Enter work hours : "))

if wh > 60 :
   rm = 10000 + 20*2000 + (wh - 60) * 3000
elif wh > 40 :
   rm = 10000 + (wh - 40) * 2000
else:
   rm = 10000

print("Remuneration : ", rm)

KeyboardInterrupt: Interrupted by user

## Range function

In [10]:
l = list(range(3, 12, 1))
print(l)

[3, 4, 5, 6, 7, 8, 9, 10, 11]

In [15]:
#Printing numbers between 1 to 10 with for loop
sum = 0

for i in range(1, 11, 1): # start, stop, step
    sum = sum + i
    print(i)

print ("Grand Sum : ", sum)

1
2
3
4
5
6
7
8
9
10
Grand Sum :  55

In [13]:
#for i in range(1, 22, 3):
   # print(i)

    
# convert to while loop
i = 1
while i < 22 :
    print(i)
    i = i + 3

1
4
7
10
13
16
19

In [12]:
l = list({1, 2, 3})
x = list(range(1,20, 3))
print(l)
print(x)

[1, 2, 3]
[1, 4, 7, 10, 13, 16, 19]

## While loop

In [8]:
# While loop
count = 0
while count < 5:
    print(count)
    count = count + 1

0
1
2
3
4

In [7]:
# Summing numbers from 1 to 100 using a while loop:
total = 0
i = 1

while i <= 100:
    # inside loop
    total += i
    i += 1
    # print("The sum is:", total)

# outside loop
print("The sum is:", total)

The sum is: 5050

In [14]:
# Printing even numbers from 1 to 20 using a for loop and an if statement
for num in range(1, 21):
    if num % 2 == 0:
        print(num)

2
4
6
8
10
12
14
16
18
20

In [15]:
# Finding Factorial
num = int(input("Enter a number: "))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print("The factorial of", num, "is", factorial)

Enter a number: 6
The factorial of 6 is 720

In [16]:
numbers = [5, 2, 9, 12, 18, 20]
print(numbers)

for num in numbers:
    print(num)

[5, 2, 9, 12, 18, 20]
5
2
9
12
18
20

In [22]:
# Finding the maximum number in a list using a for loop and an if statement:
numbers = [5, 2, 9, 12, 7, 56, 36]
maximum = numbers[0] # 5

for num in numbers:
    if num > maximum:
       maximum = num

print("The maximum number is:", maximum)

The maximum number is: 56

In [17]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Accessing elements of a list
print(my_list[0])     # 1
print(my_list[2])     # 3

# Modifying elements of a list
my_list[3] = 10

# Appending elements to a list
my_list.append(9)
print(my_list)

# Length of a list
length = len(my_list)
print(length)

# Looping through a list
for item in my_list:
    print(item)

1
3
[1, 2, 3, 10, 5, 9]
6
1
2
3
10
5
9